@model Modelo.Models.Paciente

@{
    ViewBag.Title = "Create";
}

<h2>Alta de Paciente</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreate" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Paciente</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido)
            @Html.ValidationMessageFor(model => model.Apellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cedula)
            @Html.ValidationMessageFor(model => model.Cedula)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaNacimiento)
            @Html.ValidationMessageFor(model => model.FechaNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Altura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Altura)
            @Html.ValidationMessageFor(model => model.Altura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GrupoSanguineo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GrupoSanguineo)
            @Html.ValidationMessageFor(model => model.GrupoSanguineo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Peso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Peso)
            @Html.ValidationMessageFor(model => model.Peso)
        </div>
        <div>
            @Html.Partial("_UsuarioCreate")
        </div>

        <p>
            <input type="submit" value="Guardar" id="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("<< Volver al listado", "Index")
</div>
<script type='text/javascript'>
    $(document).ready(function () {
        $('#Nombre').val('Pablo');
        $('#Apellido').val('Sanguinet');
        $('#Cedula').val('35713412');
        $('#Direccion').val('Magallanes');
        $('#Telefono').val('29242216');
        $('#FechaNacimiento').val('2000-10-10');
        $('#Altura').val('170');
        $('#Peso').val('70');
        $('#UserName').val('psanguinet');
        $('#Email').val('sanguinet@gmail.com');
        $('#Password').val('123456');
        $('#ConfirmPassword').val('123456');
        $('#GrupoSanguineo').val('A');
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
