@model Modelo.Models.Paciente

@{
    ViewBag.Title = "Paciente";
}

<h2>Modificar Paciente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        @Html.HiddenFor(model => model.PacienteID)
        <aside>
            <div>
                @Html.Partial("_FileUpload", "Foto")
            </div>
            @Html.ActionLink("Cambiar foto", "Details", new { id = Model.PacienteID })
            @Html.HiddenFor(model => model.Foto)
        </aside>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido)
            @Html.ValidationMessageFor(model => model.Apellido)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cedula)
            @Html.ValidationMessageFor(model => model.Cedula)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono)
            @Html.ValidationMessageFor(model => model.Telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FechaNacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FechaNacimiento)
            @Html.HiddenFor(model => model.FechaNacimiento, new { id = "FechaNacimientoID" })
            @Html.ValidationMessageFor(model => model.FechaNacimiento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Altura)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Altura)
            @Html.ValidationMessageFor(model => model.Altura)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GrupoSanguineo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GrupoSanguineo)
            @Html.ValidationMessageFor(model => model.GrupoSanguineo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Peso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Peso)
            @Html.ValidationMessageFor(model => model.Peso)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Activo)
            @Html.ValidationMessageFor(model => model.Activo)
        </div>
        <div>
            @Html.Partial("_UsuarioEdit", (Modelo.Models.RegisterModel)@ViewBag.User)
            @Html.HiddenFor(model => model.Usuario.UserId)
            @Html.HiddenFor(model => model.Usuario.Username)
            @Html.HiddenFor(model => model.Usuario.Password)
            @Html.HiddenFor(model => model.Usuario.Email)

        </div>
        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("<< Volver al listado", "Index")
</div>
<script type='text/javascript'>
    //$(document).ready(function () {
    //    $('#FechaNacimiento').prop('type', 'text');
    //    var fecha = $('#FechaNacimientoID').val().substr(0, 10).split('/');
    //    var anio = fecha[0];
    //    var mes = fecha[1];
    //    var dia = fecha[2];

    //    var dateValue = anio + '/' + mes + '/' + dia;
    //    $('#FechaNacimiento').val(dateValue);


    //});
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
