@model IEnumerable<Modelo.Models.Paciente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
               
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PacienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PacienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PacienteID })
        </td>
    </tr>
}

</table>
