@model WebApp.ViewModel.VM_HistoriaMedica
@{
    ViewBag.Title = "Hitoria Médica";
}

<h2>Historias clínicas de pacientes</h2>

<h2>Listado de Infomes de Consulta</h2>

<div id="gridTable1">
    <table class="display">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Paciente
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Detalle
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListadoInformeDeConsultas)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paciente.Nombre) @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detalle)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

<h2>Listado de Análisis Clínicos</h2>
<div id="gridTable2">
    <table class="display">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Paciente
                </th>

                <th>
                    Detalle
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListadoInformesAnalisisClinicos)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paciente.Nombre) @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Detalle)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        ApplyDataTables("gridTable1");
        ApplyDataTables("gridTable2");
    });
</script>
