@model IEnumerable<Modelo.Models.Especialidad>

@{
    ViewBag.Title = "Especialidades";
}

<h2>Listado de Especialides</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
       </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EspecilidadID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.EspecilidadID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.EspecilidadID })
        </td>
    </tr>
}

</table>
