@model IEnumerable<Modelo.Models.Especialidad>

@{
    ViewBag.Title = "Especialidades";
}

<h2>Listado de Especialidades</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>

<div id="gridTable">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.EspecilidadID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.EspecilidadID }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.EspecilidadID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        ApplyDataTables("gridTable");
    });
</script>
