@model IEnumerable<Modelo.Models.InformesDeConsulta>

@{
    ViewBag.Title = "Informe De Consulta";
}

<h2>Informe de consulta reducido</h2>


<div id="gridTable">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Detalle)
                </th>
                <th>
                    Paciente
                </th>
                <th>
                    Doctor Responsable
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Detalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paciente.Nombre) @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Nombre) @Html.DisplayFor(modelItem => item.Doctor.Apellido)
                    </td>

                </tr>
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<div>
    @Html.ActionLink("<< Volver", "Index")
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#table_id').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print'
            ],
            "language": { "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json" },
        });
    });
</script>