@model IEnumerable<Modelo.Models.LiquidacionDeSueldo>

@{
    ViewBag.Title = "Liquidacion de Sueldo";
}

<h2>Liquidación de Sueldo</h2>


<div id="gridTable">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nombre")
                </th>
                <th>
                    @Html.DisplayName("Apellido")
                </th>
                <th>
                    @Html.DisplayName("Mes")
                </th>
                <th>
                    @Html.DisplayName("Año")
                </th>
                <th>
                    @Html.DisplayName("Fecha. Realización")
                </th>
                <th>
                    @Html.DisplayName("Importe a Cobrar")
                    @*@Html.DisplayNameFor(model => model.Importe)*@
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRealizacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importe)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        ApplyDataTables("gridTable");
    });
</script>