@model Modelo.Models.AnalisisClinico

@{
    ViewBag.Title = "Analisis Clinico";
}

<h2>Eliminar análisis</h2>

<h3>Está seguro que desea eliminar el análisis?</h3>
<div>


    <dl class="dl-horizontal">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Doctor)
            <div class="col-md-10">
                @Html.Partial("_DoctorDetails", Model.Doctor)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.Partial("_PacienteDetails", Model.Paciente)

            </div>
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Detalle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Detalle)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-default" /> |
                @Html.ActionLink("<<Volver al listado", "Index")
            </div>
        }
</div>
