@model IEnumerable<Modelo.Models.Agenda>

@{
    ViewBag.Title = "Consultas";
}

<h2>Futuras consultas</h2>


<div id="gridTable">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hora)
                </th>
                <th>
                    Doctor
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctor.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        ApplyDataTables("gridTable");
    });
</script>