@model Modelo.Models.AnalisisClinico

@{
    ViewBag.Title = "Analisis Clinico";
}

<h2>Details</h2>

<div>
    <h4>AnalisisClinico</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnalisisClinicoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
