@model Modelo.Models.AnalisisClinico

@{
    ViewBag.Title = "Analisis Clinico";
}

<h2>Modificar Análisis Clínico</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AnalisisClinicoID)


        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
               @Html.Partial("_DoctorDetails",Model.Doctor)
                @Html.HiddenFor(model=>model.Doctor.DoctorID)
                @Html.HiddenFor(model => model.Doctor.Nombre)
                @Html.HiddenFor(model => model.Doctor.Apellido)
                @Html.HiddenFor(model => model.Doctor.Cedula)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
               @Html.Partial("_PacienteDetails",Model.Paciente)
                @Html.ValidationMessageFor(model => model.Paciente.PacienteID)
                @Html.HiddenFor(model => model.Paciente.Nombre)
                @Html.HiddenFor(model => model.Paciente.Apellido)
                @Html.HiddenFor(model => model.Paciente.Cedula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detalle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Detalle)
                @Html.ValidationMessageFor(model => model.Detalle)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<< Volver al listado", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}