@model Modelo.Models.InformesDeConsulta

@{
    ViewBag.Title = "Informe de Consulta";
}

<h2>Informe de Consulta</h2>

@using (Html.BeginForm("Create", "InformeConsulta", FormMethod.Post, new { id = "formCreate" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.InformesDeConsultaID)

        @Html.HiddenFor(model => model.Fecha)
        @Html.HiddenFor(model => model.Paciente.PacienteID)
        @Html.HiddenFor(model => model.Paciente.Nombre)
        @Html.HiddenFor(model => model.Paciente.Apellido)
        @Html.HiddenFor(model => model.Paciente.Cedula)

        @Html.HiddenFor(model => model.Doctor.DoctorID)
        @Html.HiddenFor(model => model.Doctor.Nombre)
        @Html.HiddenFor(model => model.Doctor.Apellido)
        @Html.HiddenFor(model => model.Doctor.Cedula)
        <div>
            <div>
                @Html.Partial("_PacienteDetails", Model.Paciente)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Motivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Motivo)
                @Html.ValidationMessageFor(model => model.Motivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Detalle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Detalle)
                @Html.ValidationMessageFor(model => model.Detalle)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<< Volver", "../Agenda/Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}