@model IEnumerable<Modelo.Models.AnalisisClinico>
@{
    ViewBag.Title = "InformeAnalisisClinicoReducido";
}

<h2>Informe Análisis Clínico Reducido</h2>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Detalle
            </th>
            <th>
                Paciente
            </th>
            <th>
                Doctor responsable
            </th>
            <th>
                Resultado
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nombre) @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.Nombre) @Html.DisplayFor(modelItem => item.Doctor.Apellido)
                </td>
                <td>
                    <ul>

                        @foreach (var result in item.ListResultadoAnalisis)
                        {
                            <li>
                                @Html.Display(result.Nobmre) @Html.Display(result.Resultado)
                            </li>
                        }
                    </ul>
                </td>

            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>


<div>
    @Html.ActionLink("<< Volver", "Index")
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#table_id').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'print'
            ]
        });
    });
</script>